<div class="mt-1">
  <a [routerLink]="['/home']">
    <i class="fa fa-arrow-circle-left"></i> Voltar para tela inicial
  </a>
</div>

<div class="card pb-2 mt-4">
  <div id="headerForecast" class="card-header text-center text-white">
    <h5 class="card-title mb-0">Previsão do tempo para os próximos 5 dias</h5>
  </div>
  <div class="card-body">
    <div [hidden]="!this.forecastInfo" id="cartoes-clima">
      <div class=" row w-100 mx-auto">
        <div class="col-md-4" *ngFor="let forecast of this.forecastInfo.list; let index = index">
          <div class="card">
            <div class="card-header text-center">
              <img [src]="'http://openweathermap.org/img/w/' +
                              forecast.weather_icon +
                              '.png'" />
              <div class="card-title">
                {{forecast.dt_txt | date: 'dd/MM/yyyy'}}
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">
                Temperatura: {{formatTemperature(forecast.temp)}} ºC
                <br />
                Vento: {{windSpeedConvertion(forecast.wind_speed)}} km/h
                <br />
                Temp. Min/Max: {{formatTemperature(forecast.temp_min)}} ºC / {{formatTemperature(forecast.temp_max)}} ºC
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>