<div class="card text-center">
  <div class="card-header text-white">
    <h5 class="card-title mb-0">Cidades cadastradas</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4" *ngFor="let city of this.cities">
        <div class="card card-city">
          <div class="card-body">
            <h5 class="card-title mb-0">
              {{ city.name }}{{ city.country ? ', ' + city.country : '' }}
            </h5>
            <p class="card-text">
              <img [src]="
                'http://openweathermap.org/images/flags/' +
                city.country.toLowerCase() +
                '.png'
              " />
              <br />
            </p>
            <a class="btn btn-info" [routerLink]="['/forecast', city.customCode]">
              PREVISÃO <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>