$font-alert: purple;

.card-city {
    .geo-information {
        display: block;

        .geo-information__location {
            color: $font-alert;
        }
    }
}

.card-header {
    background-color: #1976d2;
}

.col-md-4 {
    padding-bottom: 15px;
}